# Get Started

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ezdanapak/Lab_5-ipynb/blob/main/lab5ipy.ipynb)

Exercise 1: Variable Assignment and Basic Operations

In [ ]:
latitude = 40.7128
longitude = -74.0060
population = 8336817
areaNewYork = 783.8
latitude = 40.7128
longitude = -74.0060
population = 8336817
areaNewYork = 783.8

density = population / areaNewYork
print("Latitude:", latitude, "Longitude:", longitude)
print("People population per square kilometer", density)

Latitude: 40.7128 Longitude: -74.006
People population per square kilometer 10636.408522582293

Exercise 2: Working with Strings

In [ ]:
city = 'San Francisco'

replstring = city.replace("San", "Los")

print(city.lower(),"< lowercase &  uppercase >",city.upper(),"\t",
      "&",replstring)

san francisco < lowercase &  uppercase > SAN FRANCISCO 	 & Los Francisco

Exercise 3: Using Lists

In [ ]:
cities = (['New York City:', 40.7128, -74.0060], ['Los Angeles:', 34.0522, -118.2437], ["Chicago:", 41.8781, -87.6298])
cities = list(cities)
cities.append(["Miami:", 25.7617, -80.1918])
cities = tuple(cities)

print(cities)
print(cities[0:2])

(['New York City:', 40.7128, -74.006], ['Los Angeles:', 34.0522, -118.2437])

Exercise 4: Using Tuples

In [ ]:
eiffel_tower = (48.8584, 2.2945)
print(eiffel_tower)

#eiffel_tower[0] = 48.8585
#TypeError: 'tuple' object does not support item assignment
#In tuples you can't change values after they are created.

(48.8584, 2.2945)

TypeError: 'tuple' object does not support item assignment

Exercise 5: Working with Sets

In [ ]:
visited_countries = {"Poland", "Netherlands", "Czech republic"}

visited_countries.add("Turkey")

print(visited_countries)

#visited_countries.add("Turkey")
#print(visited_countries)
#Nothing happens, here are not allowed dublicates

{'Turkey', 'Netherlands', 'Poland', 'Czech republic'}
{'Turkey', 'Netherlands', 'Poland', 'Czech republic'}

Exercise 6: Working with Dictionaries

In [ ]:
river = {"Name": "Amazon River", "Length": "6400 km", "Countries": "([“Brazil”, “Peru”, “Colombia”])"}
print(river)

river["av_discharge"] = "209,000 m³/s"
river["Length"] = "6992 km"

print(river)

{'Name': 'Amazon River', 'Length': '6400 km', 'Countries': '([“Brazil”, “Peru”, “Colombia”])'}
{'Name': 'Amazon River', 'Length': '6992 km', 'Countries': '([“Brazil”, “Peru”, “Colombia”])', 'av_discharge': '209,000 m³/s'}

Exercise 7: Nested Data Structures

In [ ]:
city = {"Name": "Tokyo", "Population": 13515271, "Coordinates": (35.6895, 139.6917)}
print(city)


print(city["Population"])
print(city["Coordinates"][0])

city.update({"Population": 14000000})
print(city["Population"])

{'Name': 'Tokyo', 'Population': 13515271, 'Coordinates': (35.6895, 139.6917)}
13515271
35.6895
14000000

Exercise 8: List Operations

In [ ]:
cities = (['New York City:', 40.7128, -74.0060], ['Los Angeles:', 34.0522, -118.2437], ["Chicago:", 41.8781, -87.6298])
cities = list(cities)

cities.sort()
#print(cities)

city_names = [city[0] for city in cities]
print(city_names)

cities.pop()
print(cities)

['Chicago:', 'Los Angeles:', 'New York City:']
[['Chicago:', 41.8781, -87.6298], ['Los Angeles:', 34.0522, -118.2437]]

Exercise 9: Dictionary Operations

In [ ]:
river = {"Name": "Amazon River", "Length": "6400 km", "Countries": "([“Brazil”, “Peru”, “Colombia”])"}



if "Length" in river:
  print(river["Length"])
else:
   print("The key 'Length' does not exist")

print(river.keys())

print(river.values())

6400 km
dict_keys(['Name', 'Length', 'Countries'])
dict_values(['Amazon River', '6400 km', '([“Brazil”, “Peru”, “Colombia”])'])

Exercise 10: Practical Application

In [ ]:

locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]


location_names = [location[0] for location in locations]
print("Location Names:", location_names)

location_dict = {location[0]: (location[1], location[2]) for location in locations}
print("\nLoc_Dictionary:", location_dict)


k2_lat = location_dict["K2"][0]
print("\nLatitude of K2:", k2_lat)

Location Names: ['Mount Everest', 'K2', 'Kangchenjunga']

Loc_Dictionary: {'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}

Latitude of K2: 35.8808

Exercise 11: Manipulating Geographic Location Strings

In [ ]:
river_name = "Amazon River"

lower_case_river = river_name.lower()
upper_case_river = river_name.upper()

print("Lowercase River Name:", lower_case_river,"\n","Uppercase River Name:", upper_case_river)

country = "Brazil"
merged_string = river_name + " flows in " + country

#print("\nMerged String:", merged_string)

repeated_string = '-'.join([merged_string] * 3)
print("\nRepeated String:", repeated_string)

Lowercase River Name: amazon river
 Uppercase River Name: AMAZON RIVER

Repeated String: Amazon River flows in Brazil-Amazon River flows in Brazil-Amazon River flows in Brazil

Exercise 12: Extracting and Formatting Coordinates

In [ ]:
x = "40.7128N, 74.0060W"
y = x.split(", ")

latitude = float(y[0].split("N")[0])
longitude = float(y[1].split("W")[0])

print("Latitude:", latitude, "\n", "Longitude:", longitude)

wkt_point = f"POINT(-{longitude} {latitude})"

print("WKT Format:", wkt_point)

Latitude: 40.7128
 Longitude: 74.006
WKT Format: POINT(-74.006 40.7128)

Exercise 13: Building Dynamic SQL Queries

In [ ]:
table_name = "cities"
condition = "population > 1000000"
additional_conditions = ["country = 'USA'", "climate = 'temperate'"]

query = "SELECT * FROM " + table_name

if condition:
    query += " WHERE " + condition

if additional_conditions:
    for add_condition in additional_conditions:
        query += " AND " + add_condition

query += ";"

print(query)

SELECT * FROM cities WHERE population > 1000000 AND country = 'USA' AND climate = 'temperate';

Exercise 14: String Normalization and Cleaning

In [ ]:
x = [" new york ", "Los ANGELES", "   CHICAGO"]

x_y = [city.strip().title() for city in x]

print(x_y)

['New York', 'Los Angeles', 'Chicago']

Exercise 15: Parsing and Extracting Address Information

In [ ]:

def parse_address(address):

    parts = address.split(", ")

    if len(parts) == 3:
        return {
            "street": parts[0],
            "city": parts[1],
            "country": parts[2]
        }
    else:
        print("error")


address = "123 Main St, Springfield, USA"
address_dict = parse_address(address)
print(address_dict)

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

Exercise 16: Using For Loops to Process Coordinate Lists

In [ ]:
coordinates = [
    (40.7128, -74.0060),  # New York (Northern Hemisphere)
    (-33.8688, 151.2093), # Sydney (Southern Hemisphere)
    (51.5074, -0.1278),   # London (Northern Hemisphere)
    (-22.9068, -43.1729), # Rio de Janeiro (Southern Hemisphere)
    (34.0522, -118.2437)  # Los Angeles (Northern Hemisphere)
]


for latitude, longitude in coordinates:
    hemisphere = "Northern Hemisphere" if latitude >= 0 else "Southern Hemisphere"
    print(f"Coordinate: ({latitude}, {longitude}) is in the {hemisphere}")

Exercise 17: While Loops for Iterative Processing

In [ ]:
coordinates = [
    (40.7128, -74.0060),  # New York (Northern Hemisphere)
    (51.5074, -0.1278),   # London (Northern Hemisphere)
    (34.0522, -118.2437),  # Los Angeles (Northern Hemisphere)
    (-33.8688, 151.2093), # Sydney (Southern Hemisphere)
    (-22.9068, -43.1729)  # Rio de Janeiro (Southern Hemisphere)
]


index = 0

while index < len(coordinates):
    latitude, longitude = coordinates[index]

    print(f"Coordinate: ({latitude}, {longitude})")

    if latitude < 0:
        break

    index += 1

Coordinate: (40.7128, -74.006)
Coordinate: (51.5074, -0.1278)
Coordinate: (34.0522, -118.2437)
Coordinate: (-33.8688, 151.2093)

Exercise 18: Conditional Logic in Loops

In [ ]:
coordinates = [
    (40.7128, -74.0060),  # New York (Western Hemisphere)
    (51.5074, -0.1278),   # London (Western Hemisphere)
    (34.0522, -118.2437),  # Los Angeles (Western Hemisphere)
    (37.7749, 122.4194),   # San Francisco (Western Hemisphere)
    (48.8566, 2.3522),     # Paris (Eastern Hemisphere)
    (-33.8688, 151.2093),  # Sydney (Eastern Hemisphere)
    (35.6895, 139.6917)    # Tokyo (Eastern Hemisphere)
]


for latitude, longitude in coordinates:

    if longitude > 0:
        print(f"Coordinate: ({latitude}, {longitude}) is in the Eastern Hemisphere")
    elif longitude < 0:
        print(f"Coordinate: ({latitude}, {longitude}) is in the Western Hemisphere")
    else:
        print(f"Coordinate: ({latitude}, {longitude}) is on the Prime Meridian")

Coordinate: (40.7128, -74.006) is in the Western Hemisphere
Coordinate: (51.5074, -0.1278) is in the Western Hemisphere
Coordinate: (34.0522, -118.2437) is in the Western Hemisphere
Coordinate: (37.7749, 122.4194) is in the Eastern Hemisphere
Coordinate: (48.8566, 2.3522) is in the Eastern Hemisphere
Coordinate: (-33.8688, 151.2093) is in the Eastern Hemisphere
Coordinate: (35.6895, 139.6917) is in the Eastern Hemisphere

Exercise 19: Filtering Data with Combined Loops and Conditionals

In [ ]:
coordinates = [
    (40.7128, -74.0060),  # New York (Northern Hemisphere)
    (51.5074, -0.1278),   # London (Northern Hemisphere)
    (34.0522, -118.2437),  # Los Angeles (Northern Hemisphere)
    (-33.8688, 151.2093),  # Sydney (Southern Hemisphere)
    (-22.9068, -43.1729),  # Rio de Janeiro (Southern Hemisphere)
    (37.7749, -122.4194),  # San Francisco (Northern Hemisphere)
    (-34.6037, -58.3816)   # Buenos Aires (Southern Hemisphere)
]

southern_hemisphere_coords = []

for latitude, longitude in coordinates:
    if latitude < 0:
        southern_hemisphere_coords.append((latitude, longitude))


southern_hemisphere_count = len(southern_hemisphere_coords)


print(f"Coordinates in the Southern Hemisphere: {southern_hemisphere_coords}")
print(f"Number of coordinates in the Southern Hemisphere: {southern_hemisphere_count}")

Coordinates in the Southern Hemisphere: [(-33.8688, 151.2093), (-22.9068, -43.1729), (-34.6037, -58.3816)]
Number of coordinates in the Southern Hemisphere: 3

Exercise 20: Generating and Analyzing Random Coordinates

In [ ]:
import random

coordinate = None

while True:

    latitude = random.uniform(-90, 90)
    longitude = random.uniform(-180, 180)

    print(f"Generated coordinate: ({latitude}, {longitude})")

    if latitude > 50 and longitude > 50:
        coordinate = (latitude, longitude)
        break

print(f"Final coordinate that meets the condition: {coordinate}")